/* RESET DE CONFIGURAÇÔES GERAIS PARA NAVEGADORES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: blanchedalmond;
    font-size: 100px;
    margin: 20px;
}

body {
    font-family:'Courier New', Courier, monospace;
    background-color: black;
    color: aliceblue;
    background-image: url('assets/images.jpg');
}